<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CucumberParallelSuite" parallel="tests" thread-count="3">
    <test name="CucumberTests" parallel="classes" thread-count="3">
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>
</suite>